.nav{
    width: 100%;
    height: 150px;
    background-color: rgb(38,45,51);
}
.top-nav{
    width: 100%;
    height: 70%;
    background-color: rgb(63, 75, 86);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.top-nav .logo{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.top-nav .search-box{
    width: 60%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}
.top-nav .search-box input{
    width: 70%;
    height: 100%;
    padding: 10px 20px;
    background-color: white;
    border: none;
    outline: none;
}
.top-nav .search-box button{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px 0 0;
    font-size: 20px;
    background-color: white;
    border: none;
}
.cart-box svg{
    width: 40px;
    height: 40px;
    color: white;
}
.cart-box{
    position: relative;
}
.cart-box span{
    color: white;
    position: absolute;
    top: -14px;
    right: 0;
    font-size: 18px;
}

/*Bottom Nav*/
.bottom-nav{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
    list-style: none;
    cursor: pointer;
}
.bottom-nav a{
    color: white;
    text-decoration: none;
}

/*Responsive*/
@media (max-width:768px) {
    .bottom-nav{
        gap:20px;
    }
    .top-nav .search-box{
        display: none;
    }
}
