.home{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
}
.hero-bg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.hero-bg img{
    width: 90%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/*category section*/
.category-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    
}
.category-card{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.category-card:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.422);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.category-card img{
    width: 100%;
    height: 80%;
}

/*product section*/
.product-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#product-section-h1{
    text-align: center;
    font-size: 40px;
    margin: 100px 0 10px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}