.footer{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(20,25,29);
    color: white;
    font-size: 18px;
    gap: 10px;
}