.home form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.home button{
    font-weight: bold;
    padding: 4px;
}
.home input{
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
}

