.product{
    width: 280px;
    height: 430px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.533);
    margin: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
}
.product-details{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}
.product-details button{
    padding: 10px 20px;
    background-color: rgb(25,30,34);
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.product img{
    width: 100%;
    max-height: 60%;
}
.product-details button:hover{
    opacity: 0.8;
}